.fondo-blanco {
  --background: #ffffff;
}

.titulo-reporte {
  text-align: center;
  color: #8c8c8c;
  font-weight: bold;
  margin-bottom: 15px;
}

.fecha-reporte {
  color: #555;
  font-weight: 600;
  margin-bottom: 15px;
}

.img-reporte-detalle {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.detalle-reporte {
  background: #f2f2f2;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 20px;
  color: #000;
}
