<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/detalleequipo"></ion-back-button>
    </ion-buttons>
    <ion-title>Reporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding fondo-blanco" *ngIf="reporte">

  <!-- TITULO -->
  <h2 class="titulo-reporte">
    Reporte
  </h2>

  <!-- FECHA -->
  <div class="fecha-reporte">
    Fecha reporte: {{ reporte.fecha }}
  </div>

  <!-- IMÁGENES -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let img of reporte.imagenes">
        <img [src]="img" class="img-reporte-detalle">
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- DETALLE -->
  <div class="detalle-reporte">
    {{ reporte.detalle }}
  </div>

  <!-- VOLVER -->
  <ion-button expand="block" color="success" (click)="volver()">
    Volver
  </ion-button>

</ion-content>
