.fondo-blanco {
  --background: #ffffff;
}

.titulo-app {
  text-align: center;
  color: #b0b0b0;
  font-weight: 600;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.logo {
  width: 300px;
}

.titulo-principal {
  text-align: center;
  color: #9e9e9e;
  font-size: 40px;
  margin-bottom: 30px;
}

.titulo-ingreso {
  text-align: center;
  color: #2e7d32;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}

.label-gris {
  color: #9e9e9e;
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
}

.campo-input {
  --background: #d3d3d3;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
