.fondo-blanco {
  --background: #ffffff;
}

.titulo-principal {
  text-align: center;
  color: #2e7d32;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}

.titulo-app {
  text-align: center;
  color: #b0b0b0;
  font-weight: 600;
}

.perfil {
  text-align: center;
  margin-top: 20px;
}

.avatar-grande {
  width: 90px;
  height: 90px;
  margin: auto;
}

.faena-card {
  padding: 12px;
  background:#f7f7f7;
  margin-bottom: 20px;
  box-shadow: none;
  border: 1px solid #e0e0e0;
}

.faena-card:hover {
  transform: scale(1.01);
}

.img-faena {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}
