<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title class="titulo-app">
      Faenas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding fondo-blanco">
  <h1 class="titulo-principal">Seleccionar faena:</h1>
  
  <ion-card *ngFor="let faena of faenas" class="faena-card">

    <!-- BOTÓN FAENA -->
    <ion-button
      expand="block"
      color="success"
      [routerLink]="['/listaequipo', faena.id]">
      {{ faena.nombre }}
    </ion-button>

    <!-- IMÁGENES -->
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <img [src]="faena.imagen1" class="img-faena">
        </ion-col>
        <ion-col size="6">
          <img [src]="faena.imagen2" class="img-faena">
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

  <!-- SALIR -->
  <ion-button
    expand="block"
    fill="outline"
    color="success"
    routerLink="/inicio">
    Salir
  </ion-button>

</ion-content>
