<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button (click)="volver()"></ion-back-button>
    </ion-buttons>

    <ion-title class="titulo-app">
      Lista de equipos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding fondo-blanco">
  <h1 class="titulo-principal">Seleccionar equipo:</h1>

 <ion-card
    *ngFor="let equipo of equipos"
    class="equipo-card"
    [routerLink]="['/detalleequipo', equipo.id]">

    <!-- IMAGEN -->
    <img [src]="equipo.imagen" class="img-equipo">

    <!-- NOMBRE -->
    <div class="nombre-equipo">
      {{ equipo.nombre }}
    </div>

    <!-- ESTADO -->
    <div
      class="estado"
      [ngClass]="{
        'estado-operativo': equipo.estado === 'operativo',
        'estado-fs': equipo.estado === 'fs'
      }">

      Estado:
      {{ equipo.estado === 'operativo' ? 'Operativo' : 'F/S' }}

    </div>

  </ion-card>

</ion-content>
