<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/faena"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de equipos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" color="success" routerLink="/detalleequipo">
    Equipo 1
  </ion-button>
  <ion-button expand="block" color="success" routerLink="/detalleequipo">
    Equipo 2
  </ion-button>
  <ion-button expand="block" color="success" routerLink="/detalleequipo">
    Equipo 3
  </ion-button>
</ion-content>