<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/listaequipo"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle equipo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" color="success" routerLink="/ingresoreporte">
    Ingresar Reporte
  </ion-button>
  <ion-button expand="block" color="success" routerLink="/reporte">
    Ver Reportes
  </ion-button>
</ion-content>