<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button (click)="volver()"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-app">Detalle equipo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarPerfil($event)">
        <ion-avatar>
          <img [src]="usuario?.photoURL">
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding fondo-blanco" *ngIf="equipo">

  <!-- NOMBRE -->
  <h2 class="nombre-equipo">
    {{ equipo.nombre }}
  </h2>

  <!-- ESTADO -->
  <div
    class="estado"
    [ngClass]="{
      'estado-operativo': equipo.estado === 'operativo',
      'estado-fs': equipo.estado === 'fs'
    }">
    {{ equipo.estado === 'operativo' ? 'OPERATIVO' : 'FUERA DE SERVICIO' }}
  </div>

  <!-- IMAGEN -->
  <img [src]="equipo.imagen" class="img-equipo-detalle">

  <!-- KM Y FECHA -->
  <ion-grid class="info-km">
    <ion-row>
      <ion-col size="6" class="info-amarillo">
        KM: {{ equipo.km }}
      </ion-col>
      <ion-col size="6" class="info-amarillo">
        {{ equipo.fechaKm }}
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- DOCUMENTOS -->
  <div class="doc-item">
    Permiso de circulación: {{ equipo.documentos.permiso }}
  </div>
  <div class="doc-item">
    SOAP: {{ equipo.documentos.soap }}
  </div>
  <div class="doc-item">
    Revisión Técnica: {{ equipo.documentos.revision }}
  </div>

  <div class="doc-item" *ngIf="equipo.documentos.sernageomin">
    Resolución Sernageomin: {{ equipo.documentos.sernageomin }}
  </div>

  <!-- NUEVO REPORTE -->
  <ion-button expand="block" color="success" [routerLink]="['/ingresoreporte', equipo.id]">
    Nuevo Reporte
  </ion-button>

  <!-- REPORTES -->
  <h3 class="titulo-reportes">Reportes</h3>

  <ion-card
  class="reporte-card"
    *ngFor="let reporte of reportes"
    (click)="irAReporte(reporte.id)">

    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img [src]="reporte.fotos[0]" *ngIf="reporte.fotos?.length" class="img-reporte">
        </ion-col>
        <ion-col size="8">
          <div class="fecha-reporte">
            {{ reporte.fecha }}
          </div>
          <div class="detalle-reporte">
            {{ reporte.detalle }}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

</ion-content>
